<h3> Monitoring Resources Report</h3>
  <h5>Today's Date:  <%= Date.today.strftime("%B %e, %Y") %> </h5>

  <input type="text" data-provide='datepicker'>

<% @monitoring_resources.each do |resource| %>
  <% end_date = Date.parse(resource['end_date']).strftime("%B %e, %Y") %>
    <% %>
    <%  %>
    <% %>
    <% %>
  <table class="parent_resources">
  		<thead>
  			<tr>
  				<th>Name</th>
					<th>End Date </th>
          <th>Cost Amount </th>
          <br></br>
          <th> January </th>
          <th> February </th>
          <th> March </th>
          <th> April </th>
          <th> May </th>
          <th> June </th>
          <th> July </th>
          <th> August</th>
          <th> September</th>
          <th> October</th>
          <th> November</th>
          <th> December</th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr>
          <td><%= resource['description'] %></td>
					<td><%= end_date %></td>
          <td><%= "$" + resource['unit_cost']%></td>
          <td  class="months"> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
  		  <% end %>
  		</tbody>
  	</table><br>
