// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    border: 2px solid black;
    margin-top: 20px;
    overflow-x:auto
}

th {
   border: 1px solid black;
   text-align: center;
   width: 5%;

 }

td {
   text-align: center;
   border: 1px solid black;
   width: 5%;
}

.parent_resources {
  overflow-x:auto

}

.months {
  background-color: red;
  opacity: 50%;
}

.monitored-checkbox {
  width: 50%
}

.active-projects {
  width: 50%;
}
